@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a{
    color: var(--secondary);
    cursor: pointer;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Roboto';
    overflow: hidden;
    min-height: 100vh;
}
:root {

    /*Pallette*/
    --primary:#F2F4EB;
    --secondary:#050B24;
    --accent:#e41c1c;
    --blue: #00D9FB;
    --grey:#CACACA;

    /* Font Sizes */
    --text-xxl: 4.7em;
    --text-xl: 3.7em;
    --text-xl2: 2.5em;
    --text-lg: 1.9em;
    --text-sm: 1.6em;
    --text-xs: 1.3em;

    /* Spacings */
    --space-xxl: 12rem;
    --space-xl: 8rem;
    --space-lg: 5rem;
    --space-md: 3.2rem;
    --space-sm: 1.6rem;
    --space-xs: 0.8rem;    
}

h1{ font-size: var(--text-xl2);}
h1::first-letter{
    color: var(--accent);
}
h1::after{
    content: '.';
    color: var(--blue);
}
.header{
    box-shadow: 0 0.5em 1em var(--grey) ;
    height: var(--space-xl);
    padding: var(--space-sm) var(--space-md);
    width: 100%;
}

/* navbar */
nav { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    display: flex;
    justify-content: space-around;
    gap: var(--space-xs);
    width: 50%;
    font-size: var(--text-sm);
}

.container{ 
    width: 85%;
    margin: auto;
    min-height: 85vh;
    padding: var(--space-lg) 0 var(--space-lg) 0;
}

.container > section {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            40rem,
            1fr
        )
    );
    gap: 1rem
}

#pokedex {
    align-items: center;
    width: 30rem;
    height: 50rem;
    margin: auto;
    border: 0.1rem solid var(--secondary);
    border-radius: 1%;
    background-color: var(--accent);
    box-shadow: 0px 0px 0.7rem var(--secondary);
}

.top-machine{
    width: 29.8rem;
    height: 9rem;
    box-shadow: 0px 0px 0.7rem var(--secondary);
}
.blue{
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid var(--primary);
    background-color: var(--blue);
    border-radius: 100%;
    position: relative;
    top: 1.9rem;
    left: 1.5rem;
}
.bordeaux{
    width: 1rem;
    height: 1rem;
    background-color: brown;
    border: 0.1rem solid var(--primary);
    border-radius: 100%;
    position: relative;
    top: -2.1rem;
    left: 9rem;
}
.green{
    width: 1rem;
    height: 1rem;
    background-color: yellowgreen;
    border: 0.1rem solid var(--primary);
    border-radius: 100%;
    position: relative;
    top: -3.1rem;
    left: 11rem;
}
.yellow{
    width: 1rem;
    height: 1rem;
    background-color: yellow;
    border: 0.1rem solid var(--primary);
    border-radius: 100%;
    position: relative;
    top: -4.1rem;
    left: 13rem;
}
.back{
    height: 40rem;
    width: 29.8rem;
    background-color: var(--accent);
    position: relative;
    /* top: -19.4rem; */
    bottom: 36.4rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 0.7rem var(--secondary);
    overflow: hidden;
}

.pokeScreen{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 26rem;
    height: 17rem;
    position: relative;
    border:  2rem solid white;
    border-left: 4rem solid white;
    border-right: 4rem solid white ;
    border-radius: 2%;
    border-bottom-left-radius: 4rem;
    top: 1rem;
    left: 2rem;
    box-shadow: inset 0 0 0.7rem whitesmoke;
}
.display {
    font-family: 'VT323';
    width: 26rem;
    height: 17rem;
    padding: 0.4rem 0.8rem;
    color: #333;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 2rem;
    left: 2rem;
    border-radius: 2%;
    border:  0.7rem inset #CACACA;
    box-shadow: inset 0 0 0.7rem darkgrey;
    background-color: yellowgreen;
    text-transform: uppercase;
}
.pokeScreen img{
    align-self: center;
    width: 11rem;
    height: 11rem;
    background-image: none;
    transition: all 0.2s ease-in-out;
}

.blink {
    animation: blink 1s linear infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
section > * {
    font-size: var(--text-lg);
}
article > footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#next{
    width: 100%;
    padding: 0.1rem;
    display: grid;
    place-content: center;
}
#previous{
    width: 100%;
    padding: 0.1rem;
    display: grid;
    place-content: center;
}
.content {
    display: grid;
    place-content: center;    
}
img{
    width: 10rem;
}

input {
    border: none;
    font-size: 1em;
    border-radius: 1%;
}

.button{
    font-family: 'VT323';
    background-color: #050B24;
    color: var(--primary);
}
.htmlContainer{
    position:inherit;
    height: 7rem;
}
.swal2-container{
    padding-right: -19px;
    background-color: var(--secondary);
}